@import "reset.css"
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap')
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap')
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap')

$link-color: #ff6f61
$link-color-light: #ff6f6185

html, body
  min-width: 100%

.container
  max-width: 1200px
  margin: 0 auto
  text-align: center
  font-family: Playfair Display
  font-size: 14px
  font-weight: 400
  line-height: 24px
  color: #626262

a
  text-decoration: none
  color: inherit
  transition: color 0.5s

.clearfix:after
  content: " "
  display: block
  clear: both

.active
  display: inline-block !important

.passive
  display: none

.logo
  color: #000
  font-family: Inconsolata
  font-size: 30px
  text-transform: uppercase
  letter-spacing: 6px

.header
  padding: 68px 70px
  &__logo
    float: left

.menu
  float: right
  &__li
    float: left
    list-style-type: none
    margin-right: 100px
    &:last-child
      margin-right: 0
  &__a
    text-transform: uppercase
    &:hover
      color: $link-color

.article
  text-align: left
  &__img
    width: 100%
    margin-bottom: 55px
    filter: grayscale(70%)
    transition: filter 0.5s
    &:hover
      filter: grayscale(0)
    &:nth-of-type(2)
      margin-top: 31px
  &-type__p
    margin-bottom: 28px
    color: #b4ad9e
    font-family: Ubuntu
    font-weight: 300
    text-transform: uppercase
  &__h
    font-size: 30px
    margin-bottom: 34px
  &__h:first-letter
    text-transform: uppercase
  &__p
    margin-bottom: 24px
    &_italic
      font-style: italic
      margin-left: 20px
  &__a
    margin: 50px 80px 0
    color: #b4ad9e
    font-family: Ubuntu
    font-weight: 300
    text-transform: uppercase
    display: none
    &:hover
      color: $link-color
  img,h3,h5,p
    padding: 0 80px

.articles
  display: flex
  flex-wrap: wrap
  &__button
    font-size: 20px
    padding: 20px 34px
    border: 1px solid #626262
    display: none
    margin: 0 auto 60px
    &:hover
      color: $link-color
      border-color: $link-color
  .article
    width: 50%
    padding: 0 0 130px
    &__img
      margin-bottom: 32px
    &:nth-of-type(2)
      img
        margin-top: 0
    &__h
      display: block
      &:hover
        color: $link-color
    .article__p
      height: calc(24px * 3)
      overflow: hidden
      margin-bottom: 0
    &:nth-child(2n)
      img,h3,h5,p
        padding-left: 80px
        padding-right: 30px
    &:nth-child(2n+1)
      img,h3,h5,p
        padding-left: 30px
        padding-right: 80px
    &:first-child
      padding: 0 0 135px
      width: 100%
      img,h3,h5,p
        padding-left: 80px
        padding-right: 80px
      .article__p
        height: calc(24px * 7)
      a
        display: inline-block
      .img__link
        display: block

.article:first-child
  img:first-of-type
    margin-bottom: 100px
    padding: 0

.share
  float: right
  margin: 41px 80px 76px
  &__p
    color: #b4ad9e
    font-family: Ubuntu
    font-size: 13px
    font-weight: 300
    text-transform: uppercase
    margin-right: 23px
    float: left
  &__a
    float: left
    font-size: 17px
    color: #b4ad9e
    margin-right: 12px
    &:last-child
      margin-right: 0
    &:hover
      color: $link-color

.you-may-also-like
  background-color: #f2f2f2
  opacity: 0.8
  padding: 69px 0 89px
  .article-type__p
    padding: 0 80px
    margin-bottom: 40px
    text-align: left

.articles-preview
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  padding: 0 80px
  &__figure
    width: 100%/3
    padding: 0 20px
    text-align: left
    &:first-of-type
      padding-left: 0
    &:last-of-type
      padding-right: 0
    img
      margin-bottom: 24px
    .article__h
      font-size: 20px
      margin-bottom: 0
      display: inline-block
      &:hover
        color: $link-color

.newsletter
  background-color: rgba(240,240,240,0.35)
  &__h3
    color: #333
    font-size: 30px
    letter-spacing: 0.75px
    margin-bottom: 70px
  &__form
    width: 37.736%
    margin: 0 auto
    padding: 73px 0
  &__input
    border-bottom: 1px solid #000
    padding: 10px 0
    input
      line-height: 17px
      width: calc(100% - 15px)
      background-color: transparent
      border: none
      outline: none
      padding: 0
      font-family: inherit
      font-size: inherit
    a
      float: right
      padding-top: 3px

.comments
  padding: 67px 80px
  text-align: left

.comment
  padding-bottom: 57px
  &:last-child
    padding-bottom: 0
  &-userimg
    float: left
    margin-right: 36px
    width: 70px
    height: 70px
    line-height: 70px
    background-color: $link-color-light
    border-radius: 50%
  &-userimg__p
    color: #ffffff
    font-family: Ubuntu
    font-size: 34px
    font-weight: 300
    text-transform: uppercase
    text-align: center
  &-block
    overflow: hidden
  &-username__p
    font-weight: 700
  &__p
    margin-bottom: 12px
  &__a
    color: #b4ad9e
    font-family: Ubuntu
    font-weight: 300
    text-transform: uppercase
    margin-right: 20px
    &:hover
      color: $link-color
  &__textarea
    padding: 28px 34px
    border-radius: 5px
    border: 1px solid #c8c8c8
    width: 100%
    outline: none
    resize: none
    overflow: hidden
    line-height: inherit
    color: inherit
    font-family: inherit
    font-weight: inherit
    margin-bottom: 38px
    &::placeholder
      color: #c8c8c8
      font-family: Ubuntu
      font-weight: 300

.reply-block
  .comment
    padding: 20px 0 0
    &-userimg
      margin-right: 26px
      width: 45px
      height: 45px
      line-height: 45px
    &-userimg__p
      font-size: 24px
    &__textarea
      padding: 10px 0 0
      border: none
      border-bottom: 1px solid #c8c8c8
      border-radius: 0
      line-height: 14px
      margin-bottom: 10px



.hidden-div
  white-space: pre-wrap
  word-wrap: break-word
  font-family: Ubuntu
  font-weight: 300
  padding: 28px 34px
  border-radius: 5px
  border: 1px solid #c8c8c8
  width: 100%

.hidden
  display: none

.visible
  display: block

.modal-content
  font-family: Playfair Display
  font-size: 14px
  font-weight: 400
  line-height: 14px
  color: #626262

.modal__a
  margin: 0
  padding-bottom: 0

.modal-header
  display: flex
  justify-content: space-between
  padding: 1rem 0 2rem
  border-bottom: 1px solid #ccc
  &__h2
    font-size: 1.25rem
  &__a
    font-size: 1.25rem
    font-family: Ubuntu
    font-weight: 700
    float: right
    &:hover
      color: $link-color

.form-group
  padding: 20px 0 0
  label
    display: inline-block
    margin-bottom: 1rem
    &:first-letter
      text-transform: uppercase
  input
    display: block
    width: 100%
    padding: 0.325rem
    outline: none

.modal-errormessage
  color: $link-color
  margin-top:  1rem
  font-size: 12px

.modal-footer
  padding: 2rem 0 1rem
  text-align: center
  .create-account
    font-size: 0.8rem
    text-decoration: underline
    padding-bottom: 0.325rem
    display: inline-block
    &:hover
      color: $link-color
    &:active
      color: $link-color
      text-decoration: none
  .login
    margin-bottom: 1rem
    padding: 1rem
    color: #fff
    background-color: $link-color
    width: 100%
    display: inline-block
    text-align: center
    font-size: 1.25rem
    font-family: Ubuntu
    font-weight: 400


.footer
  background-color: #f0f0f0
  &__div
    padding: 40px 70px 45px 80px
  &-links
    float: left
  &-social
    float: right
  &__a, &__p
    margin-right: 20px
    float: left
    color: #000
  &__a:hover
      color: $link-color

.social__a
  margin-right: 15px
  &:last-child
    margin-right: 0
  &:hover
    color: $link-color



