@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
html, body {
  min-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #626262;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.active {
  display: inline-block !important;
}

.passive {
  display: none;
}

.logo {
  color: #000;
  font-family: Inconsolata;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.header {
  padding: 68px 70px;
}
.header__logo {
  float: left;
}

.menu {
  float: right;
}
.menu__li {
  float: left;
  list-style-type: none;
  margin-right: 100px;
}
.menu__li:last-child {
  margin-right: 0;
}
.menu__a {
  text-transform: uppercase;
}
.menu__a:hover {
  color: #ff6f61;
}

.article {
  text-align: left;
}
.article__img {
  width: 100%;
  margin-bottom: 55px;
  filter: grayscale(70%);
  transition: filter 0.5s;
}
.article__img:hover {
  filter: grayscale(0);
}
.article__img:nth-of-type(2) {
  margin-top: 31px;
}
.article-type__p {
  margin-bottom: 28px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-weight: 300;
  text-transform: uppercase;
}
.article__h {
  font-size: 30px;
  margin-bottom: 34px;
}
.article__h:first-letter {
  text-transform: uppercase;
}
.article__p {
  margin-bottom: 24px;
}
.article__p_italic {
  font-style: italic;
  margin-left: 20px;
}
.article__a {
  margin: 50px 80px 0;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-weight: 300;
  text-transform: uppercase;
  display: none;
}
.article__a:hover {
  color: #ff6f61;
}
.article img, .article h3, .article h5, .article p {
  padding: 0 80px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}
.articles__button {
  font-size: 20px;
  padding: 20px 34px;
  border: 1px solid #626262;
  display: none;
  margin: 0 auto 60px;
}
.articles__button:hover {
  color: #ff6f61;
  border-color: #ff6f61;
}
.articles .article {
  width: 50%;
  padding: 0 0 130px;
}
.articles .article__img {
  margin-bottom: 32px;
}
.articles .article:nth-of-type(2) img {
  margin-top: 0;
}
.articles .article__h {
  display: block;
}
.articles .article__h:hover {
  color: #ff6f61;
}
.articles .article .article__p {
  height: calc(24px * 3);
  overflow: hidden;
  margin-bottom: 0;
}
.articles .article:nth-child(2n) img, .articles .article:nth-child(2n) h3, .articles .article:nth-child(2n) h5, .articles .article:nth-child(2n) p {
  padding-left: 80px;
  padding-right: 30px;
}
.articles .article:nth-child(2n+1) img, .articles .article:nth-child(2n+1) h3, .articles .article:nth-child(2n+1) h5, .articles .article:nth-child(2n+1) p {
  padding-left: 30px;
  padding-right: 80px;
}
.articles .article:first-child {
  padding: 0 0 135px;
  width: 100%;
}
.articles .article:first-child img, .articles .article:first-child h3, .articles .article:first-child h5, .articles .article:first-child p {
  padding-left: 80px;
  padding-right: 80px;
}
.articles .article:first-child .article__p {
  height: calc(24px * 7);
}
.articles .article:first-child a {
  display: inline-block;
}
.articles .article:first-child .img__link {
  display: block;
}

.article:first-child img:first-of-type {
  margin-bottom: 100px;
  padding: 0;
}

.share {
  float: right;
  margin: 41px 80px 76px;
}
.share__p {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 23px;
  float: left;
}
.share__a {
  float: left;
  font-size: 17px;
  color: #b4ad9e;
  margin-right: 12px;
}
.share__a:last-child {
  margin-right: 0;
}
.share__a:hover {
  color: #ff6f61;
}

.you-may-also-like {
  background-color: #f2f2f2;
  opacity: 0.8;
  padding: 69px 0 89px;
}
.you-may-also-like .article-type__p {
  padding: 0 80px;
  margin-bottom: 40px;
  text-align: left;
}

.articles-preview {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 80px;
}
.articles-preview__figure {
  width: 100%/3;
  padding: 0 20px;
  text-align: left;
}
.articles-preview__figure:first-of-type {
  padding-left: 0;
}
.articles-preview__figure:last-of-type {
  padding-right: 0;
}
.articles-preview__figure img {
  margin-bottom: 24px;
}
.articles-preview__figure .article__h {
  font-size: 20px;
  margin-bottom: 0;
  display: inline-block;
}
.articles-preview__figure .article__h:hover {
  color: #ff6f61;
}

.newsletter {
  background-color: rgba(240, 240, 240, 0.35);
}
.newsletter__h3 {
  color: #333;
  font-size: 30px;
  letter-spacing: 0.75px;
  margin-bottom: 70px;
}
.newsletter__form {
  width: 37.736%;
  margin: 0 auto;
  padding: 73px 0;
}
.newsletter__input {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}
.newsletter__input input {
  line-height: 17px;
  width: calc(100% - 15px);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
.newsletter__input a {
  float: right;
  padding-top: 3px;
}

.comments {
  padding: 67px 80px;
  text-align: left;
}

.comment {
  padding-bottom: 57px;
}
.comment:last-child {
  padding-bottom: 0;
}
.comment-userimg {
  float: left;
  margin-right: 36px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #ff6f6185;
  border-radius: 50%;
}
.comment-userimg__p {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.comment-block {
  overflow: hidden;
}
.comment-username__p {
  font-weight: 700;
}
.comment__p {
  margin-bottom: 12px;
}
.comment__a {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 20px;
}
.comment__a:hover {
  color: #ff6f61;
}
.comment__textarea {
  padding: 28px 34px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 38px;
}
.comment__textarea:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #c8c8c8;
  font-family: Ubuntu;
  font-weight: 300;
}

.reply-block .comment {
  padding: 20px 0 0;
}
.reply-block .comment-userimg {
  margin-right: 26px;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.reply-block .comment-userimg__p {
  font-size: 24px;
}
.reply-block .comment__textarea {
  padding: 10px 0 6px;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0;
  margin-bottom: 10px;
}

.modal-content {
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #626262;
}

.modal__a {
  margin: 0;
  padding-bottom: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem;
  border-bottom: 1px solid #ccc;
}
.modal-header__h2 {
  font-size: 1.25rem;
}
.modal-header__a {
  font-size: 1.25rem;
  font-family: Ubuntu;
  font-weight: 700;
  float: right;
}
.modal-header__a:hover {
  color: #ff6f61;
}

.form-group {
  padding: 20px 0 0;
}
.form-group label {
  display: inline-block;
  margin-bottom: 1rem;
}
.form-group label:first-letter {
  text-transform: uppercase;
}
.form-group input {
  display: block;
  width: 100%;
  padding: 0.325rem;
  outline: none;
}

.modal-errormessage {
  color: #ff6f61;
  margin-top: 1rem;
  font-size: 12px;
}

.modal-footer {
  padding: 2rem 0 1rem;
  text-align: center;
}
.modal-footer .create-account {
  font-size: 0.8rem;
  text-decoration: underline;
  padding-bottom: 0.325rem;
  display: inline-block;
}
.modal-footer .create-account:hover {
  color: #ff6f61;
}
.modal-footer .create-account:active {
  color: #ff6f61;
  text-decoration: none;
}
.modal-footer .login {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #fff;
  background-color: #ff6f61;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  font-family: Ubuntu;
  font-weight: 400;
}

.footer {
  background-color: #f0f0f0;
}
.footer__div {
  padding: 40px 70px 45px 80px;
}
.footer-links {
  float: left;
}
.footer-social {
  float: right;
}
.footer__a, .footer__p {
  margin-right: 20px;
  float: left;
  color: #000;
}
.footer__a:hover {
  color: #ff6f61;
}

.social__a {
  margin-right: 15px;
}
.social__a:last-child {
  margin-right: 0;
}
.social__a:hover {
  color: #ff6f61;
}
