@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
html, body {
  min-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 68px 70px;
  margin: 0 auto;
  text-align: center;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #626262;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.active {
  display: inline-block !important;
}

.logo {
  color: #000;
  font-family: Inconsolata;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.header__logo {
  float: left;
}

.menu {
  float: right;
}
.menu__li {
  float: left;
  list-style-type: none;
  margin-right: 100px;
}
.menu__li:last-child {
  margin-right: 0;
}
.menu__a {
  text-transform: uppercase;
}

.article {
  text-align: left;
}
.article__img {
  width: 100%;
  margin-bottom: 55px;
}
.article__img:first-of-type {
  margin-bottom: 100px;
}
.article__img:nth-of-type(2) {
  margin-top: 31px;
}
.article-type__p {
  margin-bottom: 28px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-weight: 300;
  text-transform: uppercase;
}
.article__h {
  font-size: 30px;
  margin-bottom: 34px;
}
.article__h::first-letter {
  text-transform: uppercase;
}
.article__p {
  margin-bottom: 24px;
}
.article__a {
  margin: 50px 80px 0;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-weight: 300;
  text-transform: uppercase;
  display: none;
}
.article img, .article h3, .article h5, .article p {
  padding: 0 80px;
}
.article img:first-of-type {
  padding: 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}
.articles__button {
  font-size: 20px;
  padding: 20px 34px;
  border: 1px solid #626262;
  display: none;
  margin: 0 auto 60px;
}
.articles .article {
  width: 50%;
  padding: 0 0 130px;
}
.articles .article__img {
  margin-bottom: 32px;
}
.articles .article:first-child img {
  margin-bottom: 100px;
}
.articles .article:nth-of-type(2) img {
  margin-top: 0;
}
.articles .article__h {
  display: block;
}
.articles .article .article__p {
  height: calc(24px * 3);
  overflow: hidden;
  margin-bottom: 0;
}
.articles .article:nth-child(2n) img, .articles .article:nth-child(2n) h3, .articles .article:nth-child(2n) h5, .articles .article:nth-child(2n) p {
  padding-left: 80px;
  padding-right: 30px;
}
.articles .article:nth-child(2n+1) img, .articles .article:nth-child(2n+1) h3, .articles .article:nth-child(2n+1) h5, .articles .article:nth-child(2n+1) p {
  padding-left: 30px;
  padding-right: 80px;
}
.articles .article:first-child {
  padding: 0 0 135px;
  width: 100%;
}
.articles .article:first-child img, .articles .article:first-child h3, .articles .article:first-child h5, .articles .article:first-child p {
  padding-left: 80px;
  padding-right: 80px;
}
.articles .article:first-child img:first-of-type {
  padding: 0;
}
.articles .article:first-child .article__p {
  height: calc(24px * 8);
}
.articles .article:first-child a {
  display: inline-block;
}

.newsletter {
  background-color: #f0f0f0;
}
.newsletter__h3 {
  color: #333;
  font-size: 30px;
  letter-spacing: 0.75px;
  margin-bottom: 70px;
}
.newsletter__form {
  width: 37.736%;
  margin: 0 auto;
  padding: 73px 0;
}
.newsletter__input {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}
.newsletter__input input {
  line-height: 17px;
  width: calc(100% - 15px);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
.newsletter__input a {
  float: right;
  padding-top: 3px;
}

.footer__div {
  padding: 40px 70px 45px 150px;
}
.footer-links {
  float: left;
}
.footer-social {
  float: right;
}
.footer__a {
  margin-right: 20px;
  float: left;
  color: #000;
}

.social__a {
  margin-right: 15px;
}
.social__a:last-child {
  margin-right: 0;
}
