@import "reset.css"
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap')
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap')
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap')

$link-color: #ff6f61
$link-color-light: #ff6f6185
$link-color-dark: #FE840E

html,body
  min-width: 100%
  font-size: 20px

.app
  width: 100%

.container
  display: flex
  width: 100%
  max-width: 1200px
  min-width: 280px
  margin: 0 auto
  text-align: center
  font-family: Playfair Display
  font-size: 0.7em
  font-weight: 400
  line-height: 1.714em
  color: #626262
  padding: 0 3.5rem

a
  text-decoration: none
  color: inherit
  transition: color 0.5s
  outline: none
  &:hover
    color: $link-color
  &:focus
    color: $link-color

.active
  display: inline-block !important

.passive
  display: none

.header
  display: flex
  justify-content: space-between
  padding: 3.4rem 0
  .container
    flex-direction: row

.logo
  display: flex
  justify-content: flex-start
  flex: 0
  color: #000
  font-family: Inconsolata
  font-size: 1.5em
  text-transform: uppercase
  letter-spacing: 0.2em
  margin-right: 14rem

.menu
  display: flex
  justify-content: space-between
  flex: 1
  &__li
    list-style-type: none
  &__a
    text-transform: uppercase
    &_active
      color: $link-color

.content
  display: flex
  flex-direction: column
  .container
    flex-direction: column

.article
  text-align: left
  padding: 0 4rem
  .article-img
    display: block
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin-bottom: 3.93em
    filter: grayscale(70%)
    transition: filter 0.5s
    &:hover
      filter: grayscale(0)
    &:focus
      filter: grayscale(0)
  img:first-of-type
    margin-top: 2.21em
  &-type__p
    margin-bottom: 2em
    color: #b4ad9e
    font-family: Ubuntu
    font-weight: 300
    text-transform: uppercase
  &__h
    font-size: 1.5rem
    line-height: 1.2em
    margin-bottom: 1.13em
  &__h:first-letter
    text-transform: uppercase
  &__p
    margin-bottom: 2em
    &_italic
      font-style: italic
      margin-left: 1rem
  &__a
    margin-top: 3.57em
    color: #b4ad9e
    font-family: Ubuntu
    font-weight: 300
    text-transform: uppercase
    display: none

.articles
  display: flex
  flex-wrap: wrap
  &__button
    font-size: 1rem
    padding: 1em 1.7em
    border: 1px solid #626262
    display: none
    margin: 0 auto 3em
    &:hover
      color: $link-color
      border-color: $link-color
    &:focus
      color: $link-color
      border-color: $link-color
  .no-articles__h5
    padding-left: 3.5rem
    padding-right: 3.5rem
  .article
    width: 50%
    padding-bottom: 9.286em
    &:nth-child(2n)
      padding-left: 4rem
      padding-right: 1.5rem
    &:nth-child(2n+1)
      padding-left: 1.5rem
      padding-right: 4rem
    &-img
      margin-bottom: 2.286em
      display: block
      height: 14rem
    &__h
      display: block
    .article__p
      height: calc(1.65em * 3)
      overflow: hidden
      margin-bottom: 0
    &:first-child
      padding: 0 0 9.29em
      width: 100%
      h3,h5,p,.article__a
        padding-left: 4rem
        padding-right: 4rem
      .article__p
        height: calc(1.65em * 7)
      a:not(.article-img)
        display: inline-block

.article:first-child
  padding: 0
  h5,p,img,.article__h
    padding-left: 4rem
    padding-right: 4rem
  .article-img:first-child
    margin-bottom: 7.143em
    height: 25.4rem
    max-width: 100%

.share
  display: flex
  justify-content: flex-end
  margin: 2.928em 4rem 5.428em
  &__p
    color: #b4ad9e
    font-family: Ubuntu
    font-size: 0.928em
    font-weight: 300
    text-transform: uppercase
    margin-right: 1.643em
  &__a
    font-size: 1.214em
    color: #b4ad9e
    margin-right: 0.857em
    &:last-child
      margin-right: 0

.newsletter
  background-color: rgba(240,240,240,0.35)
  &__h3
    color: #333
    font-size: 1.5rem
    line-height: 1.167em
    letter-spacing: 0.025em
    margin-bottom: 2.333em
  &__form
    width: 100%
    max-width: 400px
    margin: 0 auto
    padding: 5.214em 0
  &__input
    border-bottom: 1px solid #000
    padding: 0.714em 0
    transition: all 0.5s
    &:hover
      border-color: $link-color
      input::placeholder
        color: $link-color
        transition: all 0.5s
    input
      width: calc(100% - 1em)
      background-color: transparent
      border: none
      outline: none
      padding: 0
      font-family: inherit
      font-size: inherit
    a
      float: right
      padding-top: 0.214em

.you-may-also-like
  background-color: rgba(242, 242, 242, 0.8)
  padding: 4.929em 0 6.357em
  .article-type__p
    padding: 0 4rem
    margin-bottom: 2.857em
    text-align: left

.articles-preview
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  padding: 0 4rem
  &__figure
    flex: 1
    padding: 0 1rem
    text-align: left
    &:first-of-type
      padding-left: 0
    &:last-of-type
      padding-right: 0
    .article-img
      display: block
      height: 9.1rem
      margin-bottom: 1.714em
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      filter: grayscale(70%)
      transition: filter 0.5s
      &:hover
        filter: grayscale(0)
      &:focus
        filter: grayscale(0)
    .article__h
      font-size: 1.428em
      margin-bottom: 0
      display: inline-block

.comments
  padding: 4.786em 4rem
  text-align: left

.comment
  padding-bottom: 4.07em
  &:last-child
    padding-bottom: 0
  &-userimg
    float: left
    margin-right: 1.8rem
    width: 70px
    height: 70px
    line-height: 70px
    background-color: $link-color-light
    border-radius: 50%
  &-userimg__p
    color: #ffffff
    font-family: Ubuntu
    font-size: 1.7rem
    font-weight: 300
    text-transform: uppercase
    text-align: center
  &-block
    overflow: hidden
  &-username__p
    font-weight: 700
  &__p
    margin-bottom: 0.857em
  &__a
    color: #b4ad9e
    font-family: Ubuntu
    font-weight: 300
    text-transform: uppercase
    margin-right: 1rem
  &__textarea
    padding: 2em 1.7rem
    border-radius: 0.357em
    border: 1px solid #c8c8c8
    width: 100%
    outline: none
    resize: none
    overflow: hidden
    line-height: inherit
    color: inherit
    font-family: inherit
    font-weight: inherit
    margin-bottom: 2.714em
    &:empty:not(:focus):before
      content: attr(data-placeholder)
      color: #c8c8c8
      font-family: Ubuntu
      font-weight: 300

.reply-block
  .comment
    padding: 1.428em 0 0
    &-userimg
      margin-right: 1.3rem
      width: 45px
      height: 45px
      line-height: 45px
    &-userimg__p
      font-size: 1.2rem
    &__textarea
      padding: 0.714em 0 0.428em
      border: none
      border-bottom: 1px solid #c8c8c8
      border-radius: 0
      margin-bottom: 0.714em

.modal-content
  font-family: Playfair Display
  font-size: 0.7rem
  font-weight: 400
  line-height: 1em
  color: #626262

.modal__a
  margin: 0
  padding-bottom: 0

.modal-header
  display: flex
  justify-content: space-between
  padding: 1em 0 2em
  border-bottom: 1px solid #ccc
  &__h2
    font-size: 1.25em
    line-height: 1.5em
  &__a
    font-size: 1.25em
    font-family: Ubuntu
    font-weight: 700

.form-group
  padding: 1.428em 0 0
  label
    display: inline-block
    margin-bottom: 1em
    &:first-letter
      text-transform: uppercase
  input
    display: block
    width: 100%
    padding: 0.464em
    outline: none

.modal-errormessage
  color: $link-color
  margin-top:  1em
  font-size: 0.857em

.modal-footer
  padding: 2em 0 1em
  text-align: center
  .create-account
    font-size: 0.8em
    line-height: 1em
    text-decoration: underline
    padding-bottom: 0.464em
    display: inline-block
    &:active
      color: $link-color
      text-decoration: none
  .login
    margin-bottom: 1em
    padding: 1em
    color: #fff
    background-color: $link-color
    width: 100%
    display: inline-block
    text-align: center
    font-size: 1rem
    font-family: Ubuntu
    font-weight: 400
    &:hover
      background-color: $link-color-dark
    &:focus
      background-color: $link-color-dark

.footer
  background-color: #f0f0f0
  &__div
    padding: 2.857em 3.5rem 3.214em 7.5rem
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &-links
    display: flex
    justify-content: flex-start
  &-social
    display: flex
    justify-content: flex-end
  &__a, &__p
    margin-right: 1rem
    color: #000

.social__a
  margin-right: 0.75rem
  &:last-child
    margin-right: 0


@media screen and (max-width: 940px)
  .header
    .logo
      margin-right: 7rem
  .article__h,.newsletter__h3
    font-size: 1.2rem

  .container:not(.footer__div)
    padding-left: 0
    padding-right: 0

  .footer__div
    padding-left: 4rem

  .comment__textarea
    padding: 1.5em 1.2rem


@media screen and (max-width: 750px)
  .header
    .container
      flex-direction: column
      .logo
        margin-bottom: 1.5em

  .article__h, .newsletter__h3
    font-size: 1.1rem

  .articles__button
    font-size: 0.8rem

  .articles
    .article
      padding-bottom: 7.143em
      &:first-child
        padding: 0 0 7.143em

  .article:first-child
    .article-img:first-child
      margin-bottom: 5.714em

  .you-may-also-like
    .article__h
      font-size: 0.9rem


@media screen and (max-width: 580px)
  .header
    padding: 2rem 0
    .logo
      justify-content: center
      margin-right: 0
      width: 100%
    .menu
      flex-direction: column
      justify-content: center
      &__li
        border-bottom: 1px solid rgba(98,98,98,0.1)
        &:first-child
          border-top: 1px solid rgba(98,98,98,0.1)

  .article__h, .newsletter__h3
    font-size: 0.9rem

  .articles__button
    font-size: 0.7rem

  .article
    padding: 0 1rem
    &:first-child
      .article-img:first-child
        margin-bottom: 3.57em

  .articles
    .article
      width: 100%
      padding-bottom: 3.57em
      &:nth-child(2n)
        padding-left: 1rem
        padding-right: 1rem
      &:nth-child(2n+1)
        padding-left: 1rem
        padding-right: 1rem
      &:first-child
        padding-left: 0
        padding-right: 0
        padding-bottom: 3.57em
        h3,h5,p,.article__a
          padding-left: 1rem
          padding-right: 1rem
    .no-articles__h5
      padding-left: 1rem
      padding-right: 1rem

  .article:first-child
    h5,p,img,.article__h
      padding-left: 1rem
      padding-right: 1rem

  .newsletter__form
    padding: 5.214em 1rem

  .footer__div
    padding: 2rem 1rem

  .footer-links
    padding-bottom: 0.5em

  .you-may-also-like
    padding: 3em 0
    .article-type__p
      padding: 0 1rem
      margin-bottom: 1.5em

  .articles-preview
    flex-wrap: wrap
    padding: 0 1rem
    &__figure
      padding: 0 0 2em
      flex: 100%
      &:last-of-type
        padding-bottom: 0

  .comments
    padding: 3em 1rem

  .comment
    padding-bottom: 2em
    &-userimg
      margin-right: 0.8rem
      width: 40px
      height: 40px
      line-height: 40px
    &-userimg__p
      font-size: 1.1rem

  .comment__textarea
    padding: 1em 0.7rem

  .reply-block
    .comment
      &-userimg
        margin-right: 0.6rem
        width: 24px
        height: 24px
        line-height: 24px
      &-userimg__p
        font-size: 0.6rem
      &__textarea
        padding: 0