@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
html, body {
  min-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 68px 70px;
  margin: 0 auto;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.logo {
  color: #000;
  font-family: Inconsolata;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.header {
  margin-bottom: 72px;
}
.header__logo {
  float: left;
}

.menu {
  float: right;
}
.menu__li {
  float: left;
  list-style-type: none;
  margin-right: 100px;
}
.menu__li:last-child {
  margin-right: 0;
}
.menu__a {
  color: #626262;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 50%;
  padding: 0 30px 130px;
}
.article__img {
  width: 100%;
  margin-bottom: 32px;
}
.article-type__p {
  margin-bottom: 28px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.article__h {
  color: #626262;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 34px;
}
.article__h:first-letter {
  text-transform: uppercase;
}
.article__p {
  color: #626262;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: calc(24px * 3);
  overflow: hidden;
}
.article__a {
  margin-top: 50px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  display: none;
}

.article:nth-child(2n) {
  padding-left: 80px;
}

.article:nth-child(2n+1) {
  padding-right: 80px;
}

.article:first-child {
  width: 100%;
  padding: 0 0 130px;
}
.article:first-child img {
  width: 100%;
  margin-bottom: 100px;
}
.article:first-child h3, .article:first-child h5, .article:first-child p, .article:first-child a {
  padding: 0 80px;
}
.article:first-child p {
  height: calc(24px * 8);
}
.article:first-child a {
  display: block;
}

.newsletter {
  background-color: #f0f0f0;
}
.newsletter__h3 {
  color: #333;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;
  margin-bottom: 70px;
}
.newsletter__form {
  width: 37.736%;
  margin: 0 auto;
  padding: 73px 0;
}
.newsletter__input {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}
.newsletter__input input {
  color: #626262;
  font-family: Playfair Display;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  width: calc(100% - 32px);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.newsletter__input a {
  width: 32px;
  height: 17px;
  float: right;
  background-image: url("../../img/send-icon.png");
}
