
.icon-paper-plane:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */